{% load static %}
<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        
    </head>
    <style>
           body {
         background-color:lightblue;
          }

           .btn{
     background:none;
     border :2px solid #000;
     padding :12px 20px;
     min-width: 200px;
     margin-top: 300px;
     margin-left: 600px;
     cursor:pointer;
    border-radius: 30px;
                 }
    .btn:hover{
    color: #fff;
    border-radius: 30px;
              }
    </style>
    <body>
        <a href="html1.html">
        <button class="btn btn1">Continue</button>
        </a>
    </body>
    </html>