body {
  background-color:lightblue;
}

.btn{
     background:none;
     border :2px solid #000;
     padding :12px 20px;
     min-width: 200px;
     margin-top: 300px;
     margin-left: 600px;
     cursor:pointer;
    border-radius: 30px;
}
.btn:hover{
    color: #fff;
    border-radius: 30px;
}

